.section-home{
    height: 100vmin;
}

.section-home__container{
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.section-home__h4{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-secondary);
    padding-left: 2.5px;
}
.section-home__h1{
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 4rem;
}
.section-home__h2{
    font-size: 2rem;
    font-weight: 500;
}
.section-home__p{
    font-size: 1rem;
    color: var(--color-secondary);
}

.home-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 1rem;
}
.home-content.column-content{
    flex-direction: column;
    gap: 0.25rem;
}

