.section-home{
    height: 90vmin;
    
}
.section-home__container{
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.section-home__h4{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-secondary);
    padding-left: 2.5px;
}
.section-home__h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.section-home__h2{
    font-size: 2rem;
    font-weight: 500;
}
.section-home__p{
    max-width: 450px;
    font-size: 1rem;
    color: var(--color-secondary);
}
.ctas-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.home-cta{
    outline: 2px solid transparent;
    background-color: #0f4557;
}
.home-cta:hover{
    outline-color: #0f4557;
}