.navegation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navegation-ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: var(--transition-1);
    position: relative;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    opacity: 0.8;
}
.navegation-li{
    border-radius: 4px;
    line-height: 32px;
    transition: var(--transition-1);
}
.navegation-path{
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 0.35rem 0.5rem;
    transition: var(--transition-1);
}
.navegation-path.active{
    color: red !important;
}
