.navegation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navegation.active .navegation-ul{
    gap: 1.5rem;
}
.navegation-ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: var(--transition-1);
    position: relative;
}
.navegation-li{
    border-radius: 4px;
    line-height: 32px;
    transition: var(--transition-1);
}
.navegation-path{
    font-size: 0.875rem;
    border-radius: 4px;
    padding: 0.35rem 0.5rem;
    transition: var(--transition-1);
}
// .navegation-li.contact-cta{
//     outline: 1px solid transparent;
//     background-color: var(--primary-900);
//     position: absolute;
//     right: 0;
//     -webkit-box-reflect: below 6px linear-gradient(transparent, rgba(0, 0, 0, 0.25));
// }
// .navegation-li.contact-cta:hover{
//     background-color: var(--primary-800);
//     outline-color: var(--primary-800);
// }
// .navegation-li.contact-cta:hover .navegation-path{
//     opacity: 1;
// }